@tailwind base;
@tailwind components;
@tailwind utilities;

.hero {
    height: 100vh;
    background-image: url('./images/hero.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    
}

.get-started {
    border: 2px solid rgb(129 140 248);
    padding: 8px;
    border-radius: 10px;
}

.hero-text {
    margin: 1em;
    position: absolute;
    top: 50%;
}

.hero-para {
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.5);
    border-radius: 12px;
}

@media (min-width: 640px) {
   
    .hero-text {
        margin: 2em;
}
 }

@media (min-width: 768px) {  }
@media (min-width: 1024px) {  }
@media (min-width: 1280px) { }
@media (min-width: 1536px) {  }